<h1>
  <%= @cocktail.name %>
  <small><%= link_to "Edit", edit_cocktail_path(@cocktail.id) %></small>
</h1>

<% if @cocktail.photo? %>
  <%= cl_image_tag @cocktail.photo.path, width: 200, height: 300, crop: :fill %>
<% end %>

<h4><em>Doses</em></h4>

<div>
  <%= render 'doses/new' %>
</div>

<div class="container">
  <% @cocktail.doses.each do |dose| %>
    <% if dose.persisted? %>
      <div class="product">
        <div class='product-body'>
          <p>
            <strong><%= dose.description %></strong>
            <em><%= dose.ingredient.name %></em>
            <%= link_to "Delete", dose_path(@cocktail.id, dose.id), method: :delete %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
