<div class="cocktail-view">

  <div class="cocktail-item">
    <div class="cocktail-title">
      <h1>
        <%= @cocktail.name %>
        <small><%= link_to "Edit", edit_cocktail_path(@cocktail.id) %></small>
      </h1>
    </div>
  </div>

  <div class="cocktail-item">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="cocktail-img">
          <% if @cocktail.db_photo? %>
            <%= image_tag(@cocktail.db_photo, width: 300, height: 300, crop: :scale, radius: 500) %>
          <% elsif @cocktail.photo? %>
            <%= cl_image_tag(@cocktail.photo.path, width: 300, height: 300, crop: :scale, radius: 500) %>
          <% else %>
            <%= image_tag "cocktail.svg", width: 300, height: 300, crop: :scale, radius: 500 %>
          <% end %>
        </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="cocktail-body">

            <div class="cocktail-subtitle">
              Doses
            </div>

            <div class="list-group">
              <% @cocktail.doses.each do |dose| %>
                <% if dose.persisted? %>
                  <button type="button" class="list-group-item dose">
                    <span>
                      <em><%= dose.description.strip %></em>
                      <strong class="small-margin-left"><%= dose.ingredient&.name %></strong>
                      <%# if dose.ingredient&.photo&.nil? == false %>
                        <%# parts = dose.ingredient.photo.path.split("/") %>
                        <%# folder = "/MrCocktail - Ingredients/" %>
                        <%# path = parts[0] + folder + parts[1] %>
                        <%#= cl_image_tag(path, class: "ingredient-img", width: 50, height: 50, crop: :scale, radius: 500) %>
                      <%# end %>
                    </span>
                    <span class="dose-delete"><%= link_to "Delete", dose, method: :delete %></span>
                  </button>
                <% end %>
              <% end %>
            </div>

            <div class="dose-new">
              <%= render 'doses/new' %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
