
  <% if cocktail.origin == 'user' %>
    <div class='product product-user'>
  <% else %>
    <div class="product">
  <% end %>
  <div class='product-upvote'>
    <div class="product-arrow"></div>
    <div class='product-count'><%= cocktail.votes %></div>
  </div>
  <% if cocktail.photo.nil? %>
  <%= image_tag "cocktail.svg", class: "product-image product-image-placeholder" %>
  <% else %>
  <% parts = cocktail.photo.path.split("/") %>
  <% folder = "/MrCocktail%20-%20Cocktails/" %>
  <% path = parts[0] + folder + parts[1] %>
  <%= cl_image_tag(path, width: 50, height: 50, crop: :fill, class: "product-image") %>
  <% end %>
  <div class='product-body'>
    <h3><%= cocktail.name %></h3>
    <p>
      <%= cocktail.ingredients.all.map {|i| i.name }.join(" - ") -%>
    </p>
  </div>
  <ul class="list-inline product-controls hidden-sm hidden-xs">
    <% ["fa fa-heart", "fa fa-share", "fa fa-star"].each do |fa| %>
    <li>
      <object><a tabindex="-1", href=""><i class=<%= fa %>></i></a></object>
    </li>
    <% end %>
  </ul>
</div>
