
<div class="container">
  <p>Add dose</p>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="col-xs-4 col-sm-12">
          <%= f.label "Quantity" %>
        </div>
        <div class="col-xs-8 col-sm-12">
          <%= f.input :description, label: false %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="col-xs-4 col-sm-12">
          <%= f.label :ingredient %>
        </div>
        <div class="col-xs-8 col-sm-12">
          <%= f.association :ingredient, label: false %>
        </div>
      </div>
      <div class="col-xs-6 col-offset-xs-3 col-sm-12 col-md-4">
        <%= f.button :submit, class: "btn-wide" %>
      </div>
    </div>
    <% end %>
</div>
